In [1]:
import pandas as pd
import yfinance as yf
import numpy as np
from scipy import stats
import math
import matplotlib.pyplot as plt

In [8]:
df = pd.read_csv('./Datasets/sports_dataset.csv')
df.head()

,Player Name,Sport,Team,Age,Height (cm),Weight (kg),Games Played,Average Score per Game,Win Percentage
0,Thomas Rodriguez,Soccer,Man United,23,203,119,48,16.8,58.9
1,Charles Rodriguez,Soccer,Bayern,18,183,114,77,22.3,49.0
2,Joseph Davis,Basketball,Warriors,39,200,107,38,20.1,45.3
3,John Brown,Soccer,Real Madrid,31,203,64,65,27.9,76.0
4,James Rodriguez,Tennis,-,18,195,80,18,26.1,61.7

In [10]:
#We will examine slicing and subsetting of the dataset
#df.iloc[2:5, 1:4] - from 2nd to 4th row and from 1st to 3rd column