In [18]:
import pandas as pd
import yfinance as yf
import numpy as np
from scipy import stats
import math
import matplotlib.pyplot as plt

In [20]:
df = pd.DataFrame(pd.read_excel('VaR_practice.xlsx'))
df

          date        SREN        UBS       NOVN
0   2021-11-12   77.618309  15.735238  63.796165
1   2021-11-15   77.287575  15.735238  63.779427
2   2021-11-16   77.304970  15.848408  64.030525
3   2021-11-17   77.252754  15.975722  63.796165
4   2021-11-18   76.904610  15.697516  63.402779
..         ...         ...        ...        ...
586 2024-03-08  109.000000  27.240000  88.110001
587 2024-03-11  109.849998  27.110001  88.800003
588 2024-03-12  110.500000  27.700001  87.589996
589 2024-03-13  111.800003  27.830000  87.129997
590 2024-03-14  113.150002  27.809999  86.800003

[591 rows x 4 columns]

In [21]:
#Convert to a csv file
df.to_csv("VaR_SMI.csv", index = None, header=True)
df = pd.DataFrame(pd.read_csv("VaR_SMI.csv"))
df

           date        SREN        UBS       NOVN
0    2021-11-12   77.618309  15.735238  63.796165
1    2021-11-15   77.287575  15.735238  63.779427
2    2021-11-16   77.304970  15.848408  64.030525
3    2021-11-17   77.252754  15.975722  63.796165
4    2021-11-18   76.904610  15.697516  63.402779
..          ...         ...        ...        ...
586  2024-03-08  109.000000  27.240000  88.110001
587  2024-03-11  109.849998  27.110001  88.800003
588  2024-03-12  110.500000  27.700001  87.589996
589  2024-03-13  111.800003  27.830000  87.129997
590  2024-03-14  113.150002  27.809999  86.800003

[591 rows x 4 columns]

In [29]:
#Returns - we create a function and goes through a for loop to create three columns of returns
def calculate_returns(df):
    returns_df = df.pct_change().dropna()
    returns_df.columns = [col + "_return" for col in df.columns]
    return pd.concat([df, returns_df], axis=1)
data = {
    'SREN': df['SREN'],
    'UBS': df['UBS'],
    'NOVN': df['NOVN']
}
df = pd.DataFrame(data)
df_with_returns = calculate_returns(df)

print(df_with_returns)

           SREN        UBS       NOVN  SREN_return  UBS_return  NOVN_return
0     77.618309  15.735238  63.796165          NaN         NaN          NaN
1     77.287575  15.735238  63.779427    -0.004261    0.000000    -0.000262
2     77.304970  15.848408  64.030525     0.000225    0.007192     0.003937
3     77.252754  15.975722  63.796165    -0.000675    0.008033    -0.003660
4     76.904610  15.697516  63.402779    -0.004507   -0.017414    -0.006166
..          ...        ...        ...          ...         ...          ...
586  109.000000  27.240000  88.110001     0.000000    0.041284     0.003759
587  109.849998  27.110001  88.800003     0.007798   -0.004772     0.007831
588  110.500000  27.700001  87.589996     0.005917    0.021763    -0.013626
589  111.800003  27.830000  87.129997     0.011765    0.004693    -0.005252
590  113.150002  27.809999  86.800003     0.012075   -0.000719    -0.003787

[591 rows x 6 columns]